@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 20% 98%; /* Branco Neutro */
    --foreground: 40 10% 10%; /* Preto Suave */
    --card: 40 20% 98%;
    --card-foreground: 40 10% 10%;
    --popover: 40 20% 98%;
    --popover-foreground: 40 10% 10%;
    --primary: 40 10% 10%; /* Preto Suave */
    --primary-foreground: 36 92% 58%; /* Amarelo */
    --secondary: 36 92% 58%; /* Amarelo */
    --secondary-foreground: 40 10% 10%; /* Preto Suave */
    --muted: 40 15% 85%; /* Cinza Claro */
    --muted-foreground: 40 10% 40%; /* Cinza Médio */
    --accent: 40 10% 20%; /* Cinza Escuro */
    --accent-foreground: 36 92% 58%; /* Amarelo */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 20% 98%;
    --border: 40 10% 50%;
    --input: 40 10% 50%;
    --ring: 36 92% 58%; /* Amarelo */
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 40 10% 10%; /* Preto Suave */
    --foreground: 40 20% 98%; /* Branco Neutro */
    --card: 40 10% 10%;
    --card-foreground: 40 20% 98%;
    --popover: 40 10% 10%;
    --popover-foreground: 40 20% 98%;
    --primary: 36 92% 58%; /* Amarelo */
    --primary-foreground: 40 10% 10%; /* Preto Suave */
    --secondary: 45 80% 50%; /* Amarelo Mais Suave */
    --secondary-foreground: 40 10% 10%;
    --muted: 40 15% 25%; /* Cinza Escuro */
    --muted-foreground: 40 10% 60%; /* Cinza Claro */
    --accent: 40 15% 20%;
    --accent-foreground: 36 92% 58%; /* Amarelo */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 20% 98%;
    --border: 40 10% 30%;
    --input: 40 10% 30%;
    --ring: 36 92% 58%; /* Amarelo */ --sidebar-background: 240 5.9% 10%; --sidebar-foreground: 240 4.8% 95.9%; --sidebar-primary: 224.3 76.3% 48%; --sidebar-primary-foreground: 0 0% 100%; --sidebar-accent: 240 3.7% 15.9%; --sidebar-accent-foreground: 240 4.8% 95.9%; --sidebar-border: 240 3.7% 15.9%; --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
